### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [35]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [36]:
player_count = purchase_data["SN"].count()
player_count

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
noui =purchase_data["Item ID"].nunique()
avgp =purchase_data["Price"].mean()
tnop =purchase_data["Purchase ID"].count()
trev =purchase_data["Price"].sum()
pur_analysis = pd.DataFrame([{"Number of Unique Items": noui, 
                              "Average Price": avgp,
                              "Number of Purchases": tnop, 
                               "Total Revenue": trev}])

#Formating the Price 
pur_analysis['Average Price'] = pur_analysis['Average Price'].map('${:,.2f}'.format)
pur_analysis['Total Revenue'] = pur_analysis['Total Revenue'].map('${:,.2f}'.format)
pur_analysis

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.05                  780                     183     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [38]:
#purchase_data["SN"].unique()
result_df = purchase_data.drop_duplicates(subset=['SN'], keep='first')
# to count the total number of unique players
count_sn = result_df["SN"].count()
uniq_gender =purchase_data["Gender"].unique()
male_count =len(result_df[result_df["Gender"] == "Male"])
female_count =len(result_df[result_df["Gender"] == "Female"])
other_count =len(result_df[result_df["Gender"] == "Other / Non-Disclosed"])
per_male = (round((male_count/count_sn)*100,2)).astype(str) + '%'
per_female = (round((female_count/count_sn)*100,2)).astype(str) + '%'
per_othr = (round((other_count/count_sn)*100,2)).astype(str) + '%'
gender_demo = pd.DataFrame({
            "Total Count": [male_count, female_count, other_count], 
            "Percentage of Players": [per_male, per_female, per_othr],
            
            "": ["Male", "Female", "Other/Non-Disclosed"]
                       })

gender_demo_index = gender_demo.set_index("")
gender_demo_index
#count_sn

                     Total Count Percentage of Players

Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
#https://stackoverflow.com/questions/28236305/how-do-i-sum-values-in-a-column-that-match-a-given-condition-using-pandas
pur_cnt_m = purchase_data.loc[purchase_data["Gender"] == "Male", "Price"].sum()
pur_cnt_f = purchase_data.loc[purchase_data["Gender"] == "Female", "Price"].sum()
pur_cnt_o = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", "Price"].sum()

male_count_nu =len(purchase_data[purchase_data["Gender"] == "Male"])
female_count_nu =len(purchase_data[purchase_data["Gender"] == "Female"])
other_count_nu =len(purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"])

purc_aysis = pd.DataFrame({
            "Purchase Count": [female_count_nu, male_count_nu, other_count_nu], 
            "Average Purchase Price": [round(pur_cnt_f/female_count_nu,2), round(pur_cnt_m/male_count_nu,2), round(pur_cnt_o/other_count_nu,2)],
            "Total Purchase Value": [pur_cnt_f, pur_cnt_m, pur_cnt_o],
            "Avg Total Purchased per Person": [(round(pur_cnt_f/female_count,2)), 
                                               (round(pur_cnt_m/male_count,2)),
                                               (round(pur_cnt_o/other_count,2))],
            "": ["Male", "Female", "Other/Non-Disclosed"]
                       })
purc_aysis['Average Purchase Price'] = purc_aysis['Average Purchase Price'].map('${:,.2f}'.format)
purc_aysis['Total Purchase Value'] = purc_aysis['Total Purchase Value'].map('${:,.2f}'.format)
purc_aysis['Avg Total Purchased per Person'] = purc_aysis['Avg Total Purchased per Person'].map('${:,.2f}'.format)

gender_demo_index = purc_aysis.set_index("")
gender_demo_index

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchased per Person
,,,,
Male,113,$3.20,$361.94,$4.47
Female,652,$3.02,"$1,967.64",$4.07
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [40]:
# Create the bins in which Data will be held
# Bins   
bins = [0, 9, 14, 19, 24, 29, 34, 39, 49]

# Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_df=result_df.copy(deep=True)

age_df["age_group"] = pd.cut(age_df["Age"], bins, labels=group_names)

numbers_age_group= age_df["age_group"].value_counts()

percentage_age_group = round((numbers_age_group/count_sn)*100,2)

age_demo =pd.DataFrame({"Total Count":numbers_age_group,
                        "Percentage":percentage_age_group})

age_demo['Percentage'] = age_demo['Percentage'].map('{:,.2f}%'.format)


age_demo =age_demo.sort_index(0, ascending= True)
age_demo

       Total Count Percentage
<10             17      2.95%
10-14           22      3.82%
15-19          107     18.58%
20-24          258     44.79%
25-29           77     13.37%
30-34           52      9.03%
35-39           31      5.38%
40+             12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
#This is to define the bins
bins = [1, 9, 14, 19, 24, 29, 34, 39, 90]
#Define the groups of the bins
group_names = ["<10","10-14","15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins.
purchase_data["age_group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

#Create new dataframe
purchase_data_age_group_df = pd.DataFrame(purchase_data, columns = ["SN","age_group", "Price"])#.drop_duplicates()

#Get Series for Purchase count by age
purchase_count = purchase_data_age_group_df.groupby(["age_group"])["Price"].count()
#purchase_count = purchase_data_age_group_df["age_group"].value_counts()

# Get Series for Average Price in age group
purchase_price_by_age_group = purchase_data_age_group_df.groupby(["age_group"])["Price"].sum()
avg_purchase_price =  round((purchase_price_by_age_group/purchase_count),2) 

player_count_by_age_group = purchase_data_age_group_df.groupby(["age_group"])["SN"].count()
#Format the price data and add $ sign
avg_total_purchase_per_person = purchase_price_by_age_group/numbers_age_group

#Create Datafranme for Ourchasung Analysis
purchasing_analysis = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": avg_purchase_price.map("${:.2f}".format),
    "Total Purchase Value": purchase_price_by_age_group.map("${:.2f}".format),
    "Avg Total Purchase per Person": avg_total_purchase_per_person.map("${:.2f}".format)
    
})

purchasing_analysis =purchasing_analysis.sort_index(0, ascending= True)
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame